.chat-box {
	width:      100%;
	padding:    8px 0;
	text-align: left;

	&__inner {
		display:       inline-block;
		max-width:     100%;
		padding:       12px 20px;
		border:        1px solid #E3E9EC;
		border-radius: 32px 32px 32px 0;
		//
		font-size:     1.6rem;
		line-height:   2.4rem;

		div {
			display: inline-block;
		}

		span {
			font-weight: bold;
		}
	}
}
